<footer class="main-footer mt-5 pt-4">
      <div class="container">
          <div class="row">
              <div class="row">
                  <address>
                      E-mail:
                      <br/>
                      <a href="mailto:{{contato_email}}">{{contato_email}}</a><br/>
                  </address>
              </div>
          </div>
      </div>
      <div class="rights pb-4">
          <div class="container">
              <div class="row">
                  <div class="row mt-2">
                      {% now 'Y' %} Lux Django. All the rights reserved.
                  </div>
              </div>
          </div>
      </div>
</footer>