{% extends 'base/base.html' %}
{% load static %}
{% block title %}Lux Django - Home{% endblock title %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="jumbotron">
                <h2>Lux Django landing page</h2>
                <h4 class="mt-4">Subscribe:</h4>

                <form action="https://gmail.us7.list-manage.com/subscribe/post?u=671bed5a939c02e4fff69610c&amp;id=3a9bda7af6"
                      method="post" id="mc-embedded-subscribe-form"
                      name="mc-embedded-subscribe-form"
                      class="form-row align-items-center" target="_blank" novalidate>
                      <div class="form-row align-items-center">
                        <div class="col-auto">
                          <label class="sr-only" for="mce-EMAIL">Email</label>
                          <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="user@email.com">
                        </div>

                        <div class="col-auto">
                            <label class="sr-only" for="mce-FNAME">Nome</label>
                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Your Name">
                        </div>

                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_671bed5a939c02e4fff69610c_3a9bda7af6" tabindex="-1" value="">
                        </div>

                        <div class="col-auto">
                          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                        </div>
                      </div>
                </form>

			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">
							About the author:
						</h5>
						<div class="card-body">
							<p class="card-text">
								<img src="{% static 'img/luxmafra.jpeg' %}" width="150px" alt="luxmafra's photo" class="img-thumbnail float-left mr-3" />
                                <b>Lucas Mafra Chagas</b> is a Software Engineer Bachelor’s student who will graduate in 2022
                                with international experience living in different countries providing with language
                                skills and a wider outlook. Studying towards Python 3 Specialisation and Django Web
                                Framework with the capacity to learn and passion to improve personal as well as
                                professionally. Also has experience working with automated software testing.
                                Possess basic knowledge across a range of other programming languages as Java,
                                C++ and JavaScript.<br/><br/>

                                Repositories on <a href="https://github.com/luxmafra" target="_blank">GitHub</a>.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}
